header{
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #FADBD8;
}

.header_imagen img{
    width: 100%;
    height: 250px;
}

body{
    margin: 0;
}

.estructura{
    background-image: url(../imagenes/fondo.jpg);
    display: grid;
    grid-template-columns: 1f 1fr;
    grid-template-rows: 1fr 1fr;
}

.c1{
    grid-column: 1;
    grid-row: 1;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.c2{
    grid-column: 2;
    grid-row: 1;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.c3{
    grid-column: 1;
    grid-row: 2;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.c4{
    grid-column: 2;
    grid-row: 2;
    margin: 50px;
    display: flex;
    justify-content: center;
}

header nav ul{
    list-style: none;
    background-color: yellow;
    margin:0;
}

header nav li{
    display: inline-block;
    padding: 10px;
    margin: 0 20px;
    
}

header a{
    color: black;
    font-size: 20px;
}

.card{
    border: solid 3px #FADBD8;
    width: 300px;
}


.card_imagen{
    background-color: #FDEDEC;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card_imagen_dos{
    background-color: #FDEDEC;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_imagen img{
    width: 250px;
    height: 250px; 
}

.card_imagen_dos img{
    width: 140px;
    height: 250px; 
}

.card_titulo{
    font-size: 14px;
}

.card_titulo h1{
    text-align: center;
}

.card_cuerpo{
    padding: 15px;
}

.card_cuerpo p{
    text-align: justify;
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #FDD835;
}

footer ul{
    list-style: none;
    color: black;
}

footer li{
    padding: 5px;
}

.f1{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.f3{
    grid-column: 3;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.f3 a{
   color: black;
}

.f2 {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.f2 img{
    width: 150px;
    height: 150px;
 }

.video_intro{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}